/* Configuration for the welcome image */
.thumbnail {
    position: relative;
    display: block;
    border: 1px solid black;
    width: 80%;
    height: 0;
    padding-bottom: 56.25%;
    background: white;
    overflow: hidden;

}


#frame {
    position: absolute;
    top: -9999px;
    right: -9999px;
    left: -9999px;
    bottom: -9999px;
    margin: auto;
    max-width: 100%;
}

/** Button */
.button {
    display: block;
    width: 100%;
    border: none;
    padding: .7rem .7rem;
    margin: 0 0 1rem 0;
    background: #47650B;
    color: white;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    border-radius: 56px 56px 56px 56px;
    -moz-border-radius: 56px 56px 56px 56px;
    -webkit-border-radius: 56px 56px 56px 56px;
    border: 0px solid #000000;
}



/** Hide the input file to avoid to show the name */
.button input[type="file"] {
    display: none;
}

.defaultWelcomeLogo {
    height: 100%;
    width: 100%;
}

.welcomeDiv {
    margin-top: 15px;
}

.teamWelcomeLogo {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Set the border to separate the divs about the page members information */
.B {
    border-right: thick solid #233206;
    border-left: thick solid #233206;
    border-left-width: 1px;
    border-right-width: 1px;
}

/* Size of the social network logos */
.socialNetworkLogo {
    height: 25px;
    width: 25px;
}

/* hr which divides two main containers of the index page */
hr {
    background-color: #233206;
}

/* When the page becomes small, change the borders from horizonatal to vertical */
/* Set the location map before the social network information changing the order */
@media (max-width: 768px) {

    .A {
        order : 1;
    }

    .B {
        order : 3;

        border-top: thick solid #233206;
        border-top-width: 1px;
        border-right: none;
        border-left: none;
    }

    .C {
        order : 2;
        border-top: thick solid #233206;
        border-top-width: 1px;
    }
}